* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 50px;
  height: 50px;
  border: solid 5px #1590f8;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation-play-state: paused;
}

div::before,
div::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

div::before {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border: solid 5px #fc9f00;
  border-bottom-color: transparent;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  animation-play-state: paused;
}

div::after {
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border: solid 5px #000000;
  border-bottom-color: transparent;

  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
  animation-play-state: paused;
}

div:hover,
div:hover::before,
div:hover::after {
  animation-play-state: running;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
