* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 30px);
  margin: 20px auto;
}

.container .box {
  padding: 20px;
  width: 100%;
  background-color: #eee;
  margin-bottom: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .container .box {
    width: calc((100% / 3) - 15px);
  }

  .container .box:first-child {
    width: 100%;
  }

  .container .box h3 {
    color: red;
  }
}

@media (min-width: 992px) {
  .container .box {
    width: calc(50% - 15px);
  }

  .container .box:first-child,
  .container .box:last-child {
    width: 100%;
  }

  .container .box h3 {
    color: #039789;
  }
}
